body{
    width: 100%;
.header {
        width: 100%;
        margin-bottom: 20px;
        .top {
            width: 100%;
            height: 25px;
            color: #5B535B;
            background: -webkit-linear-gradient(#D6D6D6, #fff);
            background: -o-linear-gradient(#D6D6D6, #fff);
            background: -moz-linear-gradient(#D6D6D6, #fff);
            background: linear-gradient(#D6D6D6, #fff);
            line-height: 25px;
            margin-bottom: 40px;
            .left {
                float: left;
                margin-left: 0.2rem;
                font-size: 12px;
                margin-left: 30px;
            }
            .right {
                float: right;
                font-size: 12px;
                margin-right: 30px;
                span:hover {
                    color: #FD6727;
                }
            }
        }
        .column {
            width: 80%;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 30px;
            }
            li:nth-child(2) {
                input {
                    width: 350px;
                    height: 40px;
                    border: 1px solid #FF3C3C;
                    outline: none;
                }
                button {
                    width: 100px;
                    height: 40px;
                    background: #FF3C3C;
                    border: 1px solid #FF3C3C;
                    outline: none;
                    color: #fff;
                }
                ol {
                    margin-top: 5px;
                    li {
                        float: left;
                        margin-right: 15px;
                        font-size: 14px;
                        color: #7C7C76;
                    }
                    li:hover {
                        color: #FD6727;
                    }
                }
            }
            li:last-child {
                button {
                    width: 130px;
                    height: 40px;
                    border: 1px solid #DFDFDF;
                    background: #F6F6F6;
                    color: #787675;
                    img {
                        width: 16%;
                        margin-left: -25px;
                        margin-right: 20px;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
    .summary{
        width: 80%;
        height: 226px;
        margin: 0 auto;
        ul{
            width: 80%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-content: space-around;
            text-align: center;
            align-items: center;
            li{
                width: 25%;
                img{
                    width: 30%;
                    border-radius: 50%;
                    transition: all 0.5s;
                }
                p:first-child{
                    font-size: 18px;
                    color: #333;
                    margin: 5px 0;
                }
                p:last-child{
                    color: #888888;
                }
                img:hover{
                    transform: rotate(90deg)scale(1.2);
                }
            }
        }
    }
    .footer{
        width: 80%;
        height: 200px;
        margin: 0 auto;
        border-bottom: 1px solid #eaeaea;
        .left{
            float: left;
            margin-right: 80px;
            ul{
                width: 800px;
                display: flex;
                justify-content: space-between;
                li{
                    width: 20%;
                    h2{
                        margin-bottom: 20px;
                    }
                    p{
                       margin-bottom: 10px; 
                       font-size: 14px;
                       color: #888888;
                    }
                    p:hover{
                        color: #ff4e00;
                    }
                }
            }
        }
        .right{
            float: left;
            width: 319px;
            height: 200px;
            .joinus{
                float: left;
                width: 45%;
                margin-right: 15px;
            }
            .joinus_weibo{
                float:left;
                p{
                    height: 30px;
                    line-height: 30px;
                    margin-left: 10px;
                    padding-left: 30px;
                    color: #888888;
                    margin-bottom: 20px;
                }
                p:first-child{
                    background: url(../img2/F_106.gif)no-repeat 0 center;
                }
                p:nth-child(2){
                    background: url(../img2/F_109.gif) no-repeat 0 center;
                }
                p:hover{
                    color: #ff4e00;
                }
                span{
                    font-size: 14px;
                    color: #888888;
                    span{
                        font-size: 18px;
                        color: #ff4e00;
                    }
                }
            }
        }
    }
    .copyright{
        width: 80%;
        height: 110px;
        margin: 0 auto;
        line-height: 110px;
        text-align: center;
        font-size: 12px;
        color: #999999;
    }
    .partner{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;
        ul{
            width: 70%;
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            li{
                width: 14%;
                border: 1px solid #d9d9d9;
                border-radius: 4px;
            }
        }
    }
}